Görev: cat_summary() fonksiyonuna 1 özellik ekleyiniz. Bu özellik argümanla biçimlendirilebilir olsun. Var olan
özelliği de argümanla kontrol edilebilir hale getirebilirsiniz

In [1]:
import numpy as np 
import pandas as pd 
import seaborn as sns 
import matplotlib.pyplot as plt 

df = sns.load_dataset("titanic")

In [2]:
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [29]:
def cat_summary(dataframe,col_name,plot=False,num_square_rows=1):
    print(pd.DataFrame({col_name:dataframe[col_name].value_counts(),
                        "Ratio": 100 * dataframe[col_name].value_counts() / len(dataframe)}))
    for i in range(num_square_rows):
        print("##############")

    if plot:
        sns.countplot(x=dataframe[col_name],data=dataframe)
        plt.show(block=True)

        cat_summary(df, col, plot= True)

Görev: check_df(), cat_summary() fonksiyonlarına 4 bilgi (uygunsa) barındıran numpy tarzı docstring
yazınız. (task, params, return, example)

In [43]:
def cat_summary(dataframe,col_name,plot=False,num_square_rows=1):
    """
    Parameters:
    -----------
    dataframe: dataframe
        Değişken isimleri alınmak istenilen dataframe
    col_name: str
    plot: bool
    num_of_square_rows: int
    Returns:
    --------
    None
    Examples:
    ---------
    """ 
    print(pd.DataFrame({col_name:dataframe[col_name].value_counts(),
                        "Ratio": 100 * dataframe[col_name].value_counts() / len(dataframe)}))
    for i in range(num_square_rows):
        print("################")

        
        if plot:
            sns.countplot(x=dataframe[col_name],data=dataframe)
            plt.show(block=True)  
    cat_summary(df , col ,plot= True)